*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    transition: 2s all ease;
    }
   
    body{
        text-align: center;
        background: rgb(4,242,204);
    background: linear-gradient(90deg, rgb(4, 242, 198) 0%, rgba(7,244,217,1) 34%, rgba(9,246,220,1) 45%, rgba(0,212,255,1) 81%);
    }
    h1{
        text-shadow: 0 0 100px yellow;
        font-size: 60px;
        color: black;
    
    }
    a{
        display: block;
        color: white;
        text-decoration: none;
        width: 80px ;
        height: 40px;
        margin: 10px auto;
        background-color: rgb(237, 25, 159);
        border-radius: 200px;
        padding: 10px;
    border: 10px solid white;
    }
    a:hover{
        box-shadow: 0 0 5px white;
        border: 1px  solid black ;
        background: white;
        color: black;
        transform: scale(1.2);
    }